@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

body {
    background-image: url(./Assets/adsa.png);
    background-size: cover;
    background-repeat: initial;
    margin: 0;
    padding: 0;
    background-attachment: fixed;


}

.tombol {
    text-align: center;
    justify-content: center;

}

.judul .h1 {
    text-size-adjust: 20px;
    text-align: center;
}

.wisata {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    box-shadow: rgba(84, 85, 85, 0.1) 6px 2px 16px 0px,
        rgba(84, 85, 85, 0.1) -6px -2px 16px 0px;
    width: 550px;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    height: 100px;
    z-index: 100;
    flex-direction: column;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.judul {
    text-align: center;
    color: antiquewhite;
}

.pesona {
    color: rgb(255, 255, 255);
    text-align: center;
}

.garis {
    height: 8px;
    background-color: azure;
    color: aqua;
}

.judul-wisata {
    color: azure;
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
}

.klayar {
    text-align: justify;
    color: rgb(255, 255, 255);
    text-indent: 30px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    backdrop-filter: blur(12px);
    box-shadow: rgba(84, 85, 85, 0.1) 6px 2px 16px 0px,
        rgba(84, 85, 85, 0.1) -6px -2px 16px 0px;
}

.paragraf-2 {
    text-align: justify;

}

.gambar-kalayar {
    float: left;
    padding: 10px;
}

.gambar-ampat {
    float: left;
    padding: 10px;
    width: 125px;
    height: 100px;
}

.gambar-pandawa {
    float: left;
    padding: 10px;
    width: 125px;
    height: 100px;
}

.br {
    color: black;
    background-color: aqua;
}

.animated-button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms, background 200ms;

    :hover {
        transform: translateY(-2px);
    }
}



